.header {
  display: flex;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: rgb(183, 151, 213);
  border-bottom: 2px solid white;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  font-weight: 700;
}

.active {
  color: black;
  text-decoration-line: underline;
}
